input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
   margin:0;
}

.newContainer{
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 850px) {
  
  .newContainer{
    padding-left: 20vh !important;
    padding-right:20vh !important;
  }
}