.head-medicineTaken{
    text-align: center;
    background-color: rgb(202, 255, 190);
   padding-bottom: 10px;
   position: sticky;
   padding-top: 10px;
}
.medicine-item2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 27px;
    row-gap: 35px; 
    padding: 2rem;
  }
  
  @media screen  and (max-width: 1000px) {
    .medicine-item2{
      grid-template-columns: repeat(2,1fr);
    }
  }
  .medicinecard2{
    padding-bottom: 6px;
    padding-top: 1px;
    border-radius: 6px;
    border:2px solid #dfe3e6;
   
}


.medicinecard2 img{
    width:350px;
    height: 250px;
    margin-bottom: 13px;
    border-radius: 5px;
}
.medicine-detail2{
    margin-top: -7px;
    text-align: center;
}
.medicine-detail3{
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
  padding: 20px;
   
}

.medicine-item3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 27px;
  row-gap: 35px; 
  padding: 2rem;
}

@media screen  and (max-width: 1000px) {
  .medicine-item3{
    grid-template-columns: repeat(2,1fr);
  }
}

